<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponaglenie: Wystawienie oceny</title>
</head>
<body style="font-family: Arial, sans-serif;">

<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f8f8; border: 1px solid #ddd; border-radius: 5px;">

    <h5 style="color: #333"> For English, scroll down. </h5>

    <!-- Polish -->
    <h2 style="color: #333;">Ponaglenie: Wystawienie oceny</h2>
    <p>
        Szanowny asesorze [AssessorName] [AssessorLastname],
    </p>
    <p>
        Prosimy o jak najszybsze zatwierdzenie oceny. Termin zatwierdzenia oceny [RatingType]
        do projektu [SubmissionName] mija [FinishDate] UTC. [IsCreatedPl]
        W przypadku braku zatwierdzenia oceny, ocena zostanie zatwierdzona automatycznie.
    </p>
    <p>
        Ten email został wygenerowany automatycznie, prosimy na niego nie odpowiadać.
    </p>
    <p>
        Pozdrawiamy,<br>
        Zespół konkursu PPEA<br>
        Edycja [EditionYear]<br>
    </p>

    <!-- English -->
    <h2 style="color: #333;">Reminder: Submission of Ratings</h2>
    <p>
        Dear assessor [AssessorName] [AssessorLastname],
    </p>
    <p>
        Please confirm the rating as soon as possible. The deadline of [RatingType] rating for project
        [SubmissionName] ends [FinishDate] UTC. [IsCreatedEng].
        When you do not confirm the rating it will be automatically confirmed by the system.
    </p>
    <p>
        This email was generated automatically please do not respond.
    </p>
    <p>
        Best regards,<br>
        PPEA Competition Team<br>
        Edition [EditionYear]<br>
    </p>

</div>

</body>
</html>
